@media only screen and (max-width: 600px) {
  .mobileLogoImg {
    width: 75%;
  }
  .qHeadings {
    margin-top: 75px;
  }
  .mobileAlign1 {
    display: inline-flex !important;
  }
  .budgetAlign {
    display: inline-flex;
  }
  .etaNumberAlign {
    display: inline-flex;
  }
  .mobileInputAlign {
    margin-left: -7px !important;
  }
}
